.HomePage {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 88px);
  justify-content: center;
  width: 100%;

  h1,
  p {
    margin: 0;
    margin-bottom: 16px;
  }

  h1 {
    font-size: 4em;
    text-transform: uppercase;
    font-weight: bold;
  }

  img {
    max-width: 100%;
    position: relative;
  }

  .Logo {
    align-items: center;
    background: #155196;
    border-radius: 50%;
    display: flex;
    height: 512px;
    justify-content: center;
    position: relative;
    margin-bottom: 32px;
    width: 512px;
    overflow: hidden;
  }
}

@keyframes roll {
  0% {
    transform: translate3d(-100%, 0, 0);
  }
  50% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  55% {
    transform: rotate(-5deg) translate3d(0, 0, 0);
  }
  60% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotate(0deg) translate3d(100%, 0, 0);
  }
}
