.ProjectDetail {
  display: flex;
  flex-direction: column;
  height: 100vh;

  ion-header {
    ion-toolbar {
      align-items: center;
      display: flex;
      height: calc(56px + 32px);

      ion-title {
        * {
          margin: 0;
        }

        h2 {
          font-size: 1em;
        }

        p {
          font-size: 0.75em;
        }
      }
    }
  }

  ion-label > p.impact {
    text-transform: uppercase;

    & span {
      font-weight: bold;
    }

    & .issue {
      &--critical {
        color: red;
      }
      &--serious {
        color: rgb(205, 107, 9);
      }
      &--moderate {
        color: rgb(24, 115, 146);
      }
      &--minor {
        color: #777;
      }
    }
  }

  ion-item {
    &.impact {
      &--critical {
        border-right: 5px solid red;
      }
      &--serious {
        border-right: 5px solid rgb(205, 107, 9);
      }
      &--moderate {
        border-right: 5px solid rgb(24, 115, 146);
      }
      &--minor {
        border-right: 5px solid #777;
      }
    }
  }

  ion-grid {
    --ion-grid-padding: 0;

    flex: 1;
    width: 100%;

    ion-col {
      padding: 0;
    }
  }

  &-scores {
    display: flex;
    margin: 0 16px;
  }

  &-score {
    align-items: center;
    border-radius: 50%;
    display: flex;
    font-weight: bold;
    font-size: 1.25em;
    height: 50px;
    justify-content: center;
    width: 50px;

    &:not(:last-child) {
      margin-right: 8px;
    }
  }
}
